<div class="bio-box">
  <img src="/images/staff/Tony.jpg">
  <h3>Tony Lawson</h3>
  <div class="bio-copy">
    <h4>Chairman</h4>
    <p>
      Tony Lawson has established a name for himself in both business and yachting. His first sailing experience came as a teen when he sailed from Holland to Barbados on a 1905 Baltic Trading Schooner.
		</p>
		<p>  
			By his early twenties he had moved permanently to Grenada where his involvement in property development led him to opening one of the first stone quarries there.  Tony is a real rarity, a living self-taught quarry master.
		</p>
		<p>  
			Many new schemes followed including the completion of the International Yacht Club d’ Antibes, arguably the world’s first dedicated super yacht marina, and Prehm Ranch near Aspen, a unique subdivision focussed on protecting the area’s threatened wildlife.
		</p>
		<p>
			His yachting exploits include winning the 1974 Antigua Sailing Week aboard his Swan 44 “Supercilious”, winning the Maxi Class in the 1979 Transpac with David Smyth.  Over the years he has owned a range of racing and cruising yachts, both powered and sail, as well as commercial fishing boats. He has a particular interest in sustainable on-board systems.
		</p>
		<p>  
			In 2005 he created <a href="http://www.teamconcise.com" target="_blank" rel="noopener noreferrer">Team Concise</a>; aimed at developing young offshore sailing talent, while introducing them to the many careers available in professional racing and on board charter yachts.
		</p>                           
		<p>
			The team’s three Class 40’s, and more recently the Mod 70, Concise 10, have won, among other events, the Transatlantic Race, Normandy Channel Race, Fastnet Race and Class 40 World Championship, as well as holding the World Record for the Round Britain and Ireland Race (40-foot class) and the all-time record of   2 hours, 22 minutes for the 60 mile “Round Island (Wight) Race.”
		</p>
		<p>
			When he is not building or boating, he can be found fly fishing in Russia, New Zealand or on Roaring Fork River in Aspen, Colorado.   
			Tony is perhaps best known among his friends as the person who likes to give opportunities to others.
    </p>
  </div>
</div>
