<div class="full-hero hero-home">
  <div class="hero-content">
    <h1>LEARN YACHT DESIGN</h1>
    <ul class="social-list">
      <li>
        <a href="https://www.facebook.com/WestlawnInstituteOfMarineTechnology" class="social-link">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/WestlawnYachts" class="social-link">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/westlawnyachts/" class="social-link">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
</div>