<div class="bio-box">
  <img src="/images/staff/Eric.png">
  <h3>Eric Holohan</h3>
  <div class="bio-copy">
    <h4>Lead Instructor</h4>
    <p>
      Graduating Westlawn in the shortest time of any student in the past decade, instructor Eric Holohan has spent three years living aboard a 40-foot sailboat.  He brings with him 20 years of experience in restoration, construction, and maintenance of small craft. He is a Lloyds certified marine surveyor and an ABYC Master Marine Technician, holding ABYC certification in diesel, composite construction and electrical.
    </p>
    <p>
    	Eric has his Yacht Master Offshore and Ocean certificates, with a radar license, and SOLAS certificate, He worked as a senior designer to McCurdy & Rhodes, naval architects, and continues to assist in the current build of their 50-foot historical oyster dredger project. Holding a U.S. Coast Guard 6-pack license, with towing and sail endorsements, Eric was a past recipient of the Hargrave Scholarship for Westlawn modules 3 and 4.
    </p>
    <p>
      Holding several patents for high tech retractable flettner rotor sail systems designed for large cargo ships as well as robotic drone tugs and maneuvering equipment for green shipping technologies he continues to develop technologies in both the marine and other technical fields, such as Low speed tidal turbines, combined turbine / thruster rudder pods and even <a href="https://welagroup.com/" target="_blank" rel="noopener noreferrer">systems to combat the corona virus</a>
  </div>
</div>
