<div class="bio-box">
  <img src="http://placekitten.com/g/400/400">
  <h3>Eric Holohan</h3>
  <div class="bio-copy">
    <h4>Lead Instructor</h4>
    <p>
      Graduating Westlawn in the shortest time of any student in the past decade, instructor Eric Holohan has spent three years living aboard a 40-foot sailboat.  He brings with him 20 years of experience in restoration, construction, and maintenance of small craft. He is a Lloyds certified marine surveyor and an ABYC Master Marine Technician, holding ABYC certification in diesel, composite construction and electrical.
    </p>
    <p>
    	Eric has his Yacht Master Offshore and Ocean certificates, with a radar license, and SOLAS certificate. He has been working as an assistant designer to McCurdy & Rhodes, naval architects, and continues to assist in the current build of their 50-foot historical oyster dredger project. Holding a U.S. Coast Guard 6-pack license, Eric was a past recipient of the Hargrave Scholarship for Westlawn modules 3 and 4 and will be interacting with students out of his Long Island, New York home office.
    </p>
  </div>
</div>
