<div class="home-callout">
  <h1 class="callout-title">Making waves for 90 years</h1>
  <div class="callout-copy">
    <p>
      Since 1930, Westlawn has set the standard for yacht design education. Over the years, our alumni continue to lead the marine industry in setting the tone for style throughout the industry, including sailing and power yachts and commercial vessels.
    </p>
    <p>
      For example, alumnus Jack Hargrave gave us the now pervasive style of sport fishing boats with long fordecks and wide and low cockpits.
    </p>
    <p> 
      Alumni Tom Fexas, Bruce King, Gerry Douglas, Roger Martin, Dudley Dix, John Swarbrick, Doug Zurn, Rod Johnstone, and many others have designed large numbers of beautiful and influencial custom and production yachts including many America’s Cup racers.
    </p>
    <p> 
      Eos, the 320’ three masted schooner built by Lurssen, was designed by Westlawn graduate and Senior Partner of Langan Design, Antonio Ferrer.
    </p>
    <p>
      Recent graduates include Adam Voorhees, Superyacht design award winner, and Adriana Monk, a Chief Designer for Wally Yachts of Monaco. 
    </p>
  </div>
</div>