<div class="home-section">
	<h1>Westlawn Opens Doors</h1>
	<p>
		Over the years, Westlawn has produced more practicing small-craft designers than any other institution in the world.
	</p>
	<p>
		Westlawn graduates have established careers throughout the marine industry, with leading builders and design firms. Many have launched their own independent design firms.
	</p>
	<p>
		The Westlawn Diploma in Naval Architecture, Marine Engineering, and Yacht Design demonstrates the graduate’s mastery of concept and design skills. Equally important to prospective clients and employers, it offers proof of superior self-discipline and dedication, for a powerful competitive advantage in the global marine industry.
	</p>
	<p>
		Many Westlawn graduates report that their portfolios of design projects from the Westlawn course have been a primary factor in securing employment with leading boatbuilders and design firms. Employers add that Westlawn students’ learning is practical, relevant and up-to-date, allowing them to begin contributing immediately as productive team members.
	</p>
	<p>
		Many Westlawn students have completed their studies after being hired as designers in many industries.
	</p>
	<h3>Who Should Consider Westlawn</h3>
	<p>
		Recent high school graduates choose Westlawn as the next step in their education, leading directly to a yacht and boat design career.
	</p>
	<p>
		College and university students earning degrees in naval architecture and marine engineering find that Westlawn provides skills in boat design not covered in university courses, as well as training in conceptualization and aesthetics.
	</p>
	<p>
		Many Westlawn students have already established careers in other disciplines, and seek to change their professional direction. Others, already working as designers in the marine industry, select Westlawn as a path to professional development and career enhancement.
	</p>
	<p>
		So if you have an interest in boats and a desire to flex your creative muscle in marine design, the Westlawn Institute of Marine Technology is for you.
	</p>
	<h3>A Westlawn Education Is Effective, Convenient, And Affordable</h3>
	<p>
		To help you achieve your professional dreams, we’ve made it easier than ever to complete your Westlawn education.
	</p>
	<p>
		Your tuition includes all books and full versions of Maxsurf, Microstation, and other software from Bentley Systems, as well as AutoCAD, Alias, Maya, Solidworks, and other software from Autodesk, as well as Rhino and Orca3d.
	</p>
	<p>
		Your monthly student fee covers your student membership in the two professional organizations that will be very important to your career as a yacht designer: RINA, the Royal Institution of Naval Architects, and SNAME, the Society of Naval Architects and Marine Engineers. These two organizations provide you with periodicals and access to an enormous library of valuable reference materials.
	</p>
	<p>
		Because tuition and enrollment fees include all text materials, software tools, assignment review and evaluation, testing, grading and consultation with faculty, the cost of a Westlawn education represents a superior value.
	</p>
</div>
