<div class="bio-box">
  <img src="/images/staff/David.jpg">
  <h3>David Smyth</h3>
  <div class="bio-copy">
    <h4>President</h4>
    <p>
      Although he may be most known for heading the flight software of nearly every mission to the surface of Mars, David has always had a love for boats and the sea. A Westlawn alum himself, David felt a call of duty taking over the management of Westlawn, and is endlessly excited to be involved with the school. He is constantly talking with boatbuilders and attending boat shows in search of jobs for Westlawn students and alumni, and as Westlawn's newest President he has already spearheaded enormous changes to help enable the school to properly move into the 21st century.
    </p>
  </div>
</div>