<div class="home-callout">
  <h1 class="callout-title">Practical, Project Based Learning</h1>
  <div class="callout-copy">
    <p>
      Our courses are online, and have always been based on “Project Based Learning” which is widely recognized as the most effective way to learn: As a Westlawn student you will learn knowledge and skills, and immediately apply your skills on practical yacht designs.
    </p>
    <p>
      Project Based Learning enables you to internalize and retain the knowledge and skills, as you use the tools and processes used in professional yacht design firms.
    </p>
    <p>
      Select Westlawn students also have the opportunity to collaborate on Superyacht designs at Art Center College of Design, in Pasadena California. 
    </p>
    <p>
      By the time you graduate, your portfolio of professional quality design work will include nine designs of yachts engineered in aluminum, fiberglass, and wood, both sail and power.
    </p>
    <p>
      This realistic and practical education means you will have the confident ability to design yachts for clients upon graduation. 
    </p>
  </div>
</div>