<div class="bio-box">
  <img src="/images/staff/James.jpg">
  <h3>Dr. James Tangorra</h3>
  <div class="bio-copy">
    <h4>Provost</h4>
    <p>
      Associate Professor of Mechanical Engineering. Post Doctoral Associate, Bioinstrumentation Laboratory, MIT 2003. Ph.D., Mechanical Engineering, MIT. M.Eng., Mechanical and Aerospace Engineering, Cornell University. B.S., Mechanical and Aerospace Engineering, Cornell University.
    </p>
    <p>
    	Professor and Department Head, Engineering Leadership and Society, at Drexel University.  The Department of Engineering Leadership and Society seeks to educate a new generation of engineers who are prepared to address the complex challenges of the 21st century with analytical minds and community-focused hearts. Launched in 2020 in response to the leadership and technological challenges of industry as well as areas of national need, the department comprises the disciplines of construction management, engineering management, engineering technology, peace engineering and systems engineering.
    </p>
    <p>
    	James earned his PhD from MIT in Mechanical Engineering in 2003, his M.Eng and B.S in Mechanical and Aerospace Engineering from Cornell University. His nineteen years in the Navy included stints as a professor at Annapolis Naval Academy. James research areas include Analysis of human and (other) animal physiological systems; head-neck dynamics and control; balance, vision, and the vestibular system; animal swimming and flight; robotics; system identification; bio-inspired design, including using <a href="https://drexel.edu/engineering/news-events/news/archive/2018/November/tangorra-lab-learns-how-to-swim/" target="_blank" rel="noopener noreferrer">fish fin motions for 3-D maneuvering of vessels.</a>
    </p>
  </div>
</div>
