<div class="bio-box">
  <img src="/images/staff/Cynthia.jpg">
  <h3>Cynthia Dolloff</h3>
  <div class="bio-copy">
    <h4>Student Services Coordinator</h4>
    <p>
    	Cynthia joined us in 2016, when Mary Ann Gesner took her well earned retirement. Ever since, she has continued to impress us as she fills some pretty big shoes left by her predecessor.
    <p>
     Constantly demonstrating a deep interest in the success of our students, she is simply amazing at assisting them. Her diligence and care combine to help each student get started, deal with issues that may occur, and continues to assist them after they graduate.
    </p>
    <p>
    	Cynthia works from the school's offices in Bath, Maine inside the Maine Maritime Museum where she also works. When you contact Westlawn, it will be her voice that answers first.
  </div>
</div>
