<div class="home-section">
	<h2>What Alumni Have to Say about Westlawn</h2>

	<blockquote cite="Michael Joyce, CEO Hargrave Custom Yachts">
		It was a wonderful day for me personally to be able to present a second diploma to a Westlawn graduate since taking over the Hargrave company. I want to thank Westlawn for making all this possible not only for Greg Boyko, but for the entire Hargrave family. We take great pride in our company’s long history with Westlawn, and the list of honored recipients to receive a Westlawn diploma who not only played an important role in our company, but in the yachting industry overall is impressive indeed. Keep up the great work!
	</blockquote>

	<blockquote cite="John Howell NAMS CMS, Annapolis, MD">
	 	. . . I am currently a NAMS surveyor in Annapolis and have had my own successful business for over 16 years. I have been employed by two yacht yards and the US Navy. I spent three years on the drawing board primarily working for the Navy but doing some independent smaller design projects. In the last 20 years I have traveled to 40 countries surveying all manner of vessels from ocean going tugs and floating dry docks to yachts and high speed patrol boats. Many thanks for helping me establish a rewarding and wonderful career.
	</blockquote>

	<blockquote cite="Earl G. Alfaro, Sr. Development Engineer, Pursuit Boats, Ft. Pierce, FL">
		I am a Westlawn grad who has worked in the industry for over 17 years and am now presently holding the position of Sr. Development Engineer at Pursuit Boats (a division of S2 Yachts, Inc.). I have had several colleagues of mine inquire about the Westlawn program and I am always eager to provide a wonderful appraisal of my studies at Westlawn. It was exciting when ABYC decided to adopt the course and I was also pleased to hear that Norman Nudelman was once again part of the faculty. Keep up the good work and good luck with your future endeavors.
	</blockquote>

	<blockquote cite="J.B. Hargrave, Naval Architect, West Palm Beach, FL">
		For those of us whose school notebooks were embroidered with boat sketches, the practice of yacht design is just being paid for doing what we like best. Training, such as the Westlawn course, is essential to make this possible. It did this for me.
	</blockquote>

	<blockquote cite="William H. (Bill) Shaw, Executive Vice President, Pearson Yachts, Rhode Island">
		If you are the kind of person that seeks rewards beyond the monetary boundaries, there is nothing so gratifying as seeing your design take shape and finally sail away. The Westlawn School of Yacht Design course can extract those talents from our creative genes.
	</blockquote>

	<blockquote cite="David P. Martin, Naval Architect, Brigantine, NJ">
		I recommend Westlawn to anyone desiring to become a yacht designer or commercial boat designer.
	</blockquote>

	<blockquote cite="Cruising World">
		. . . the quality of its graduates, including Bruce King, Bill Shaw, and Ted Brewer remains a constant.
	</blockquote>
</div>