<div class="bio-box">
  <img src="/images/staff/David.jpg">
  <h3>David Smyth</h3>
  <div class="bio-copy">
    <h4>President & Treasurer</h4>
    <p>
      David has covered over 85000 miles on powerboats, and another 85000 miles under sail. He was raised in a large family with a private marina filled with up to a dozen different types of boats at a time: power, sail, racing, cruising, inshore, offshore. He has crossed the Pacific four times, Atlantic twice, two seasons in the Caribbean, and several seasons throughout Europe. His racing skills were honed by nearly daily races with or against his brother, Randy Smyth. From winning the Maxi class in Transpac to winning the Libera Classe A Deutsche Cup, his yacht race record is extensive and international. David developed what is now called DSS during his studies at Westlawn during middle school, using a 5o5 with C-Class foils oriented horizontally.
     </p>
     <p>
     	David’s father was a Caltech physicist and professor at USC, which gave David rather unique educational opportunities, including: Taking graduate level mathematics courses in the years before elementary school; Taking the Westlawn course while in middle school; At 14, being the youngest team member on the world’s first application of a microprocessor, where David wrote the transcendental math libraries for the SR-71 autopilot; Attending High School every other day, but learning calculus, fluid dynamics, and structural engineering while designing the all carbon fiber aircraft that became and flew as the Lear Avia Lear Fan; Also while still in High School, David taught courses in microprocessor system design and programming at USC; Being accepted at Caltech but instead being allowed to create his own curriculum spanning fluid dynamics and computer science at USC and then University of California, Irvine.
    </p>
		<p>
			David has a business track record equally challenging and diverse. To finance his education, David founded a turn-key business system company that paid for his California home with margin from the first day’s sales; David purchased a international trading company and in the first two years increased sales by ten times, resulting in multi-millions in the bank and no debt; David, with Tony Lawson, founded a supermarket chain in England that quickly became the fastest growing company in England; Founded and invested in several technology start up companies, the latest of which was recently purchased by Boeing.
		</p>
		<p>
			Computer science has been a big part of David’s professional life: David learned to code at age 14 while working on hand built pre-production versions of the world’s first microprocessor; during High School he worked on missile and aircraft flight control systems; while a sophomore at University David delivered to NASA the redundancy management, fault detection, and abort control software for the Space Shuttle; David’s university research included developing software fault tolerance system for the B-1B bomber, the F-35 initial design, and for fighter aircraft developed by Israel and Taiwan; R&D in research centers for major international corporations included robotics, user interfaces, software architectures, and distributed systems; David was the Software Architect on all the Mars Rover missions.
		</p>
		<p>
			David can often be found aboard his modified Olson 40, designed by Westlawn alumnus George Olson. David has performed a bare hull refit on the boat, and has converted her to and all-electric yacht including electric propulsion, as well as innovative rigging layouts to enable safer, faster, and easier sailing by a retirement aged sailor.
		</p>
		<p>
			Westlawn is now the focus of David’s energies, as he works to give opportunities to the next generations. 
    </p>
  </div>
</div>  
