<div class="bio-box">
  <img src="/images/staff/Warren.jpg">
  <h3>Warren Smyth</h3>
  <div class="bio-copy">
    <h4>Vice President</h4>
    <p>
      Warren Smyth has been instrumental in Westlawn's transition to modernity. 
    </p>
    <p>
    	Starting with significant improvements to Westlawn's business model, Warren's rapid ascension into the executive staff was well earned. His applied theories have saved the school from insolvency, and his attention is now on spearheading a complete technical overhaul of the school's systems. 
    </p>
    <p>
    	Delivering a whole new forum last year and now this website, next in his sights is digitizing the full course to further ease student access.
    </p>
    <p>
    	When Warren isn't busy with school needs, he loves skating, playing tennis with his girlfriend, snowboarding with his childhood friends, and sailing with his parents.  
  </div>
</div>