---
layout: default
title: Staff
---
<div class="home">
	
  <div class="home-callout">
	  <h1 class="callout-title">Operational Staff</h1>
	  <div class="callout-copy">
	    <p>
	      Westlawn was founded in 1930 and has been headed by David Smyth since 2014. David has put together a team dedicated to Westlawn's mission, and helping the school prepare itself for the next 90 years of operation.
	    </p>
	  </div>
	</div>

	<div class="bio-wrapper">

    {% include leadinstructor.html %}

		{% include vpbio.html %}

    {% include studentservices.html %}

	</div>

	<div class="home-callout">
    <h1 class="callout-title">Board of Directors</h1>
    <div class="callout-copy">
      <p>
        From founding ports to landing spacecraft on other planets, Westlawn's Board of Directors is composed of a trio of accomplished mariners with a vast breadth of knowledge and experience. This group of gentlemen makes Westlawn's toughest decisions.
      </p>
    </div>
  </div>

  <div class="bio-wrapper">
    {% include treasurer.html %}
    
    {% include chairman.html %}
  </div>
</div>
